@model EmployeePayroll_MVC.Models.Common.RegisterEmpRequestModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .error {
        color: red
    }
</style>
@using (Html.BeginForm("EditEmployee", "Employee", FormMethod.Post))
{

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">

        <link href="~/Content/CustomCss/register.css" rel="stylesheet" />
        <title>Employee Payroll Form</title>
    </head>

    <body>
        <div>
            <header class="header">Edit Details</header>
        </div>
        <div class="form">
            @Html.HiddenFor(m => m.EmpId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <label>Name</label>
                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "error" })
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            </div>
            <div style="display:flex;margin-right:40%;padding-top:10px;">
                <label style="padding: 0px 21px 0px 0px;">Gender</label>

                @Html.RadioButtonFor(model => model.Gender, "Male", new { style = "margin: 4px;margin-left: 12px;" })
                Male

                @Html.RadioButtonFor(model => model.Gender, "Female", new { style = "margin: 4px;margin-left: 12px;" })
                Female
            </div>
            <div style="display: flex;flex-direction: row;padding-top: 10px;">
                <label style=" padding: 0px 12px 5px 0px;">Department</label>

                @Html.RadioButtonFor(x => x.Department, "Computer", new { @id = "Computer", style = "margin: 4px;margin-left: 12px;" })
                Computer
                @Html.RadioButtonFor(x => x.Department, "HR", new { id = "HR", style = "margin: 4px;margin-left: 12px;" })
                HR
                @Html.RadioButtonFor(x => x.Department, "Sales", new { id = "Sales", style = "margin: 4px;margin-left: 12px;" })
                Sales
                @Html.RadioButtonFor(x => x.Department, "Engineer", new { id = "Engineer", style = "margin: 4px;margin-left: 12px;" })
                Engineer
                @Html.RadioButtonFor(x => x.Department, "Others", new { id = "Others", style = "margin: 4px;margin-left: 12px;" })
                Others
            </div>
            <div class="row">
                <label>Salary</label>


                @Html.DropDownListFor(x => x.SalaryId, new List<SelectListItem>
               {
                   new SelectListItem{ Text="30000", Value = "2" },
                   new SelectListItem{ Text="50000", Value = "1" },
                   new SelectListItem{ Text="60000", Value = "3" },
                   new SelectListItem{ Text="80000", Value = "4" },
                   new SelectListItem{ Text="100000", Value = "5" }
                }, "Select Salary")


            </div>
            <div class="row">
                <label>Start Date</label>

                @Html.ValidationMessageFor(x => x.StartDate, "", new { @class = "error" })
                @Html.EditorFor(model => model.StartDate)

            </div>
            <div class="row">
                <label>Notes</label>
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
            </div>
            <div class="btnColumn">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" value="Reset" class="btn bg-danger">Reset</button>
            </div>
        </div>
    </body>
}